/*
font-family: 'Audiowide', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Prosto One', cursive;
*/
body {
    background: navy;
}
.grid {
    display: grid;
}
#header {
    background: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 5rem;
    width: 100%;
    border-radius: .25rem;
    margin-bottom: 1.5rem;

}

/*==train scedule area*/

#current-schedule h1 {
    color:black;
    text-align: center;
    font-size: 1.75rem;
    padding: 1rem;
    font-family: 'Audiowide', cursive;
}

#current-schedule {
    background: #eaeaea;
    height: auto;
    padding: 1rem; 
    border-radius: .25rem;
    text-align: center;
    grid-template-columns: 1fr;
    grid-gap: .75rem;    
}

#current-schedule table,
th,
td {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    font-family: 'Prosto One', cursive;
}

#current-schedule table {
    table-layout: auto;
    border-collapse: collapse;
    width:100%
}

#current-schedule th,
#current-schedule td{
    border: 1px solid black;
    height: 1rem;
    padding: .5rem;
}
thead {
    background: #f2f2f2;
}

#new-row tr:nth-child(even){
    background: #f2f2f2;
    color: #777777;

}
#new-row tr:nth-child(odd){
    background: #999999;
    color: #f2f2f2;

}

/*==form area*/

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
#add-train{
    margin-top: 1.5rem;
    border-radius: .25rem;
    background-color: #f2f2f2;
    padding: 1rem;
    font-family: 'Prosto One', cursive;
    margin-bottom: 1.5rem;
    grid-template-columns: 1fr;
    grid-gap: .75rem; 
    
  }

  #add-train h2 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
  }
  #places {
      display: none;
  }

  @media (min-width: 700px){
    
    #wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5rem;
    }
    
    #current-schedule {
        grid-column: 1/3;
        margin-left:.5rem;

    }

    #add-train {
        grid-column: 3/4;
        margin: 0;
        margin-right:.5rem;

    }
    /*==added for filling space*/
    #places {
        display:block;
        margin: 1rem .5rem;
        border-radius: .25rem;
        background: #f2f2f2;
        height: auto;
        font-family: 'Audiowide', cursive;
        text-align: center;
        line-height: 1.5rem;
        
    }

    #places h3 {
        font-size: 1.5rem
    }

    #avail-dest ul{
        list-style-type: circle; 
    }
 

  }
