/*
font-family: 'Audiowide', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Prosto One', cursive;
*/
#header {
    background: url("../images/train.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 4rem;
    width: 100%;
    border-radius: .25rem;
    margin-bottom: .5rem;

}

#current-schedule h1 {
    color:black;
    text-align: center;
    font-size: 1.75rem;
    padding: 1rem;
    font-family: 'Audiowide', cursive;
}

#current-schedule {
    background: #eaeaea;
    height: auto;
    padding: 1rem; 
    text-align: center;
    
}

#current-schedule table,
th,
td {
    border: 1px solid black;
    text-align: center;
    margin: auto;
    font-family: 'Prosto One', cursive;
}

#current-schedule table {
    table-layout: auto;
    border-collapse: collapse;
    width:100%
}

#current-schedule th,
#current-schedule td{
    border: 1px solid black;
    height: 1rem;
    padding: .5rem;
}
thead {
    background: #f2f2f2;
}


/*#new-row tr:hover{
    background: navy;
    color: #dddddd;

}*/

#new-row tr:nth-child(even){
    background: #f2f2f2;

}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#submit {
        margin:.25rem .25rem;
        padding: .5rem;
        background: #4F5BD4;
        color: #eaeaea;
        display: inline-block;
        border-radius: .15rem;
        font-family: 'Kanit', sans-serif;
        font-size: .75rem;
        border: none;
        width:30%;
}
  
#add-train{
    margin-top: 1.5rem;
    border-radius: .25rem;
    background-color: #f2f2f2;
    padding: 1rem;
    font-family: 'Prosto One', cursive;
    
  }

  #add-train h2 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
  }

